<div class='hero-head'>
  <div class='container has-text-centered'>
    <h1 class='title'>
      Trespass
    </h1>  
  </div>
  <div class="container has-text-centered">
    <h2 class="sub-title is-bold">Please Log In</h2>
  </div>
</div>
<div class='hero-body'>
    <p><%= @error %></p>
  <div class='container has-text-centered'>
  <%= form_for :user, url: '/login' do |f| %>
  <div class="text">
  Username: 
  </div>
  <div class="field">
  <%= f.text_field :username %>
  </div>
  <div class='text'>
  Password: 
  </div>
  <div class="field">
  <%= f.password_field :password %>
  </div>
  <div class='button'>
  <%= f.submit "Log In" %>
  </div>
  <% end %>
  </div>
</div>
<div class='hero-footer'>
  <div class='container'>
    <span class="level-item" aria-label="nav buttons">
      <%= link_to  '<i class="fas fa-user-plus" aria-hidden="true"></i>'.html_safe, new_user_path if current_user.nil? %>
      <%= link_to  '<i class="fas fa-sign-out-alt" aria-hidden="true"></i>'.html_safe, logout_path unless current_user.nil? %>
      <%= link_to  '<i class="fas fa-search" aria-hidden="true"></i>'.html_safe, listings_path %>
    </span>
  </div>
</div>